<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../src/game.js" type="module"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Pacmario</title>
</head>
<body>
    <div id="mainMenu" class="mainMenu">
        <header style="color: white; font-size: 100px; text-align: center; margin-top: 50px;">
            Pacmario
        </header>
        <header style="color: white; font-size: 40px; text-align: center; margin-top: 35px; margin-bottom: 10px;">
            How to play
        </header>
        <div id="ruleDiv" class="ruleDiv">
            <p style="color: white; font-size: 18px; text-align: center;">Use the arrow keys to move around, up to jump and down to crouch. You can also press P or ESC to pause</p>
            <p style="color: white; font-size: 18px; text-align: center;">Gather all the coins to win, but be quick, because the faster you are the more bonus points you get</p>
            <p style="color: white; font-size: 18px; text-align: center;">You can jump on the ghosts to stun them, but if they touch you when they're moving, you lose a life</p>
            <p style="color: white; font-size: 18px; text-align: center;">If you run out of lives or the timer hits 0, you die</p>
        </div>
        <div id="selectDiv" class="selectDiv">
            <select class="select" name="difficulty" id="difficultySelect">
                <option value="easy">EASY</option>
                <option value="medium">MEDIUM</option>
                <option value="hard">HARD</option>
                <option value="impossible">IMPOSSIBLE</option>
            </select>
        </div>
        <div id="difficultyDiv" class="difficultyDiv">
            <p id="difficultyDesc" style="color: white; font-size: 18px; text-align: center;">Ghosts move slowest and get stunned for 3 seconds. Time limit 5 minutes, score not multiplied. Great for casually playing.</p>
        </div>
        <div style="text-align: center;"></div>
        <button class="startBtn" id="startBtn">Play</button>
    </div>
    <div id="informationDiv" class="informationDiv" style="display: none;">
        <div id="scoreboard" class="scoreboard"></div>
        <div id="lifeCounter" class="lifeCounter"></div>
        <div id="timer" class="timer"></div>
        <div id="fpsCounter" class="fpsCounter"></div>
    </div>
</body>
</html>